*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}